### Q1

In [1]:
r = lambda q: q * 2
s = lambda q: q * 3
x = 2
x = r(x)  #4
x = s(x) #12
x = r(x) #24
print(x)

24

### Q2

In [3]:
a = 4.5
b = 2
print( a//b )

2.0

### Q3

In [6]:
a = True
b = False
c = False
  
if a or b and c: 
    print ("GEEKSFORGEEKS")
else: 
    print ("geeksforgeeks")

GEEKSFORGEEKS

### Q4

In [8]:
class Acc: 
    def __init__(self, id): 
        self.id = id
        id = 555 
  

acc = Acc(111) 
print (acc.id)

111

### Q5

In [9]:
for i in  range(2): 
    print (i )
  
for i in range(4,6): 
    print (i )

0
1
4
5

### Q6

In [10]:
values = [1, 2, 3, 4] 
numbers = set(values) 
  
def checknums(num): 
    if num in numbers: 
        return True
    else: 
        return False
  
for i in  filter(checknums, values): 
    print (i )

1
2
3
4

In [11]:
filter(checknums, values)

### Q7

In [14]:
counter = {} 
  
def addToCounter(country): 
    if country in  counter: 
        counter[country] += 1
    else: 
        counter[country] = 1
  
addToCounter('China') 
addToCounter('Japan') 
addToCounter('china') 
addToCounter('China')  #Same key is passed twice
print( len(counter) )

3

### Q8

In [16]:
class Geeks: 
    def __init__(self, id): 
        self.id = id
  
manager = Geeks(100) 
  
manager.__dict__['life'] = 49
  
print (manager.life + len(manager.__dict__))

51

### Q9

In [19]:
dictionary = {} 
dictionary[1] = 1
dictionary['1'] = 2
dictionary[1] += 1
dictionary

{1: 2, '1': 2}

In [22]:
sum = 0
for k in dictionary: 
    sum += dictionary[k] 
    
print (sum)

4

### Q10

In [23]:
dictionary = {1:'1', 2:'2', 3:'3'} 
del dictionary[1] 
dictionary[1] = '10'
del dictionary[2] 
print (len(dictionary) )

2

### Q11

In [24]:
geekCodes = [1, 2, 3, 4] 
  
geekCodes.append([5,6,7,8]) 
  
print( len(geekCodes))

5

In [25]:
geekCodes

[1, 2, 3, 4, [5, 6, 7, 8]]

### Q12

In [29]:
def addToList(listcontainer): 
    listcontainer += [10] 
  
mylistContainer = [10, 20, 30, 40] 
addToList(mylistContainer) 
print (len(mylistContainer))

5

In [32]:
mylistContainer

[10, 20, 30, 40, 10]

### Q13

In [33]:
def gfgFunction(): 
    "Geeksforgeeks is cool website for boosting up technical skills"
    return 1
  
print (gfgFunction.__doc__[17:21] )

cool

### Q14

In [34]:
class A(object): 
    val = 1
  
class B(A): 
    pass
  
class C(A): 
    pass
  
print( A.val, B.val, C.val )
B.val = 2
print( A.val, B.val, C.val )
A.val = 3
print (A.val, B.val, C.val)

1 1 1
1 2 1
3 2 3

### Q15

In [41]:
check1 = ['Learn', 'Quiz', 'Practice', 'Contribute'] 
check2 = check1 
check3 = check1[:] 
  
check2[0] = 'Code'
print(check1)
print(check2)
print(check3,'\n')
check3[1] = 'Mcq'
print(check1)
print(check2)
print(check3)

['Code', 'Quiz', 'Practice', 'Contribute']
['Code', 'Quiz', 'Practice', 'Contribute']
['Learn', 'Quiz', 'Practice', 'Contribute']

['Code', 'Quiz', 'Practice', 'Contribute']
['Code', 'Quiz', 'Practice', 'Contribute']
['Learn', 'Mcq', 'Practice', 'Contribute']

In [39]:
count = 0
for c in (check1, check2, check3): 
    print(c)
    if c[0] == 'Code': 
        count += 1
    if c[1] == 'Mcq': 
        count += 10
  
print (count)

['Code', 'Quiz', 'Practice', 'Contribute']
['Code', 'Quiz', 'Practice', 'Contribute']
['Learn', 'Mcq', 'Practice', 'Contribute']
12

### Q16

In [45]:
def gfg(x,l=[]): 
    for i in range(x): 
        l.append(i*i) 
    print(l)  
  
gfg(2) 
gfg(3,[3,2,1]) 
gfg(3)

[0, 1]
[3, 2, 1, 0, 1, 4]
[0, 1, 0, 1, 4]

### Q17

In [46]:
list1 = [1998, 2002, 1997, 2000] 
list2 = [2014, 2016, 1996, 2009] 
  
print ("list1 + list 2 = : ", list1 + list2)   #statement 1 
  
print ("list1 * 2 = : ", list1 * 2)  #statement 2

list1 + list 2 = :  [1998, 2002, 1997, 2000, 2014, 2016, 1996, 2009]
list1 * 2 = :  [1998, 2002, 1997, 2000, 1998, 2002, 1997, 2000]

### Q18

In [47]:
list1 = range(100, 110) #statement 1 
print ("index of element 105 is : ", list1.index(105))  #statement 2

index of element 105 is :  5

### Q19

In [48]:
list1 = [1, 2, 3, 4, 5] 
list2 = list1 
  
list2[0] = 0; 
  
print ("list1= : ", list1) #statement 2

list1= :  [0, 2, 3, 4, 5]

### Q20

In [49]:
print ('C:\\inside C directory') # statement1 
  
print (r'C:\\inside C directory') # statement2

C:\inside C directory
C:\\inside C directory

### Q21

In [50]:
print ('\x25\x26')

%&

### Q22

In [51]:
list = ['python', 'learning', '@', 'Geeks', 'for', 'Geeks'] 
  
print (list[::]  )         
print (list[0:6:2] )       
print( list[ :6: ])        
print( list[ :6:2])       
print( list[ ::3] )       
print (list[ ::-2])

['python', 'learning', '@', 'Geeks', 'for', 'Geeks']
['python', '@', 'for']
['python', 'learning', '@', 'Geeks', 'for', 'Geeks']
['python', '@', 'for']
['python', 'Geeks']
['Geeks', 'Geeks', 'learning']

### Q23

In [52]:
d1 = [10, 20, 30, 40, 50] 
d2 = [1, 2, 3, 4, 5] 
print( d1 - d1 )

TypeError: unsupported operand type(s) for -: 'list' and 'list'

### Q24

In [53]:
list = ['a', 'b', 'c', 'd', 'e'] 
print (list[10:] )

[]

### Q25

In [54]:
list = ['a', 'b', 'c']*-3
print (list)

[]

In [55]:
mylist = ['a', 'b', 'c']*-3
print (mylist)

[]

### Q26

In [56]:
dictionary = {'GFG' : 'geeksforgeeks.org', 
              'google' : 'google.com', 
              'facebook' : 'facebook.com'
              } 
del dictionary['google']; 
for key, values in dictionary.items(): 
    print(key)

GFG
facebook

### Q27

In [57]:
dictionary1 = {'Google' : 1, 
               'Facebook' : 2, 
               'Microsoft' : 3
               } 
dictionary2 = {'GFG' : 1, 
               'Microsoft' : 2, 
               'Youtube' : 3
               } 
dictionary1.update(dictionary2); 
for key, values in dictionary1.items(): 
    print(key, values)

Google 1
Facebook 2
Microsoft 2
GFG 1
Youtube 3

### Q28

In [60]:
data = [2, 3, 9] 
temp = [[x for x in [data]] for x in range(3)] 
x

24

In [61]:
print (temp)

[[[2, 3, 9]], [[2, 3, 9]], [[2, 3, 9]]]

### Q29

In [63]:
temp = 'Geeks 22536 for 445 Geeks'
data = [x for x in (int(x) for x in temp if x.isdigit()) if x%2 == 0] 

print(data)

[2, 2, 6, 4, 4]

In [68]:
temp = 'Geeks 22536 for 445 Geeks'
data = []
for x in temp:
    if x.isdigit():
        print(int(x))
        if int(x)%2 == 0:
            data.append(int(x))
print(data)

2
2
5
3
6
4
4
5
[2, 2, 6, 4, 4]

### Q30

In [70]:
L1 = list 
L1.append([1, [2, 3], 4]) 
L1.extend([7, 8, 9]) 
print(L1[0][1][1] + L1[2])

[[1, [2, 3], 4]]

### Q31

In [75]:
L1 = [1, 1.33, 'GFG', 0, 'NO', None, 'G', True] 
val1, val2 = 0, '' 
for x in L1: 
    if(type(x) == int or type(x) == float): 
        val1 += x 
    elif(type(x) == str): 
        val2 += x 
    else: 
        break
print(val1, val2)

1

In [76]:
L1 = [1, 1.33, 'GFG', 0, 'NO', 'G', True, None,] 
val1, val2 = 0, '' 
for x in L1: 
    if(type(x) == int or type(x) == float): 
        val1 += x 
    elif(type(x) == str): 
        val2 += x 
    else: 
        break
print(val1, val2)

2.33 GFGNOG

### Q32

In [2]:
T1 = (1) 
T2 = (3, 4) 
T1 += 5
print(T1) 
print(T1 + T2)

6

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

### Q33

In [3]:
List = [True, 50, 10] 
List.insert(2, 5)
List

[True, 50, 5, 10]

In [4]:
print(List, "Sum is: ", sum(List))

[True, 50, 5, 10] Sum is:  66

### Q34

In [5]:
T = (1, 2, 3, 4, 5, 6, 7, 8) 
print(T[T.index(5)], end = " ") 
print(T[T[T[6]-3]-6])

5 8

### Q35

In [10]:
L = [1, 3, 5, 7, 9] 
print(L.pop(-3), end = '  ') 
print(L.remove(L[0]), end = '  ') 
print(L)

5  None  [3, 7, 9]

### Q36

In [11]:
def REVERSE(L): 
    L.reverse() 
    return(L) 
def YKNJS(L): 
    List = list() 
    List.extend(REVERSE(L)) 
    print(List) 
  
L = [1, 3.1, 5.31, 7.531] 
YKNJS(L)

[7.531, 5.31, 3.1, 1]

### Q37

In [15]:
from math import sqrt 
L1 = [x**2 for x in range(10)].pop() 
L1 += 19
L1

100

In [18]:
print(sqrt(L1), end = " ") 
L1 = [x**2 for x in reversed(range(10))].pop() 
L1 += 16
print(int(sqrt(L1)))

10.0 4

### Q38

In [6]:
D = dict() 
for x in enumerate(range(2)): 
    D[x[0]] = x[1] 
    D[x[1]+7] = x[0] 
print(D)

{0: 0, 7: 0, 1: 1, 8: 1}

### Q39

In [8]:
D = {1 : 1, 2 : '2', '1' : 1, '2' : 3} 
D['1'] = 2
print(D[D[D[str(D[1])]]])

3

### Q40

In [9]:
D = {1 : {'A' : {1 : "A"}, 2 : "B"}, 3 :"C", 'B' : "D", "D": 'E'} 
print(D[D[D[1][2]]], end = " ") 
print(D[D[1]["A"][2]])

E

KeyError: 2

### Q41

In [10]:
D = dict() 
for i in range (3): 
    for j in range(2): 
        D[i] = j 
print(D)

{0: 1, 1: 1, 2: 1}

### Q42

In [27]:
D = {1 : [1, 2, 3], 2: (4, 6, 8)} 
D[1].append(4) 
print(D[1], end = " ") 
L  = list(D[2]) 
L

[1, 2, 3, 4]

[4, 6, 8]

In [28]:
L.append(10) 
L
D[2]

(4, 6, 8)

In [29]:
D[2] = tuple(L) 
print(D[2])

(4, 6, 8, 10)

### Q43

In [43]:
from random import randrange 
M = list() 
for x in range(5): 
    M.append(randrange(0, 100, 2)-10) 
  
# Choose which of outputs below are valid for this code.     
print(L)

[70, 6, -8, 70, 2]

### Q44

In [44]:
from math import *
a = 2.13
b = 3.7777
c = -3.12
print(int(a), floor(b), ceil(c), fabs(c))

2 3 -3 3.12

### Q45

In [45]:
import re 
p = re.compile('\d+') 
print(p.findall("I met him once at 11 A.M. on 4th July 1886"), end = " ") 
p = re.compile('\d') 
print(p.findall("I went to him at 11 A.M."))

['11', '4', '1886'] ['1', '1']

### Q46

In [46]:
import re 
print(re.sub('ge', '**', 'Geeksforgeeks', flags = re.IGNORECASE), end = " ") 
print(re.sub('ge', '**', 'Geeksforgeeks'))

**eksfor**eks Geeksfor**eks

### Q47

In [47]:
import math 
import random 
L = [1, 2, 30000000000000] 
for x in range(3): 
    L[x] = math.sqrt(L[x]) 
  
# random.choices() is available on Python 3.6.1 only. 
string = random.choices(["apple", "carrot", "pineapple"], L, k = 1) 
print(string)

['pineapple']

### Q48

In [48]:
x = ['ab', 'cd'] 
for i in x: 
    i.upper() 
print(x)

['ab', 'cd']

### Q49

In [ ]:
x = ['ab', 'cd'] 
for i in x: 
    x.append(i.upper()) 
# print(x)#  Its an infinite loop

### Q50

In [50]:
i = 1
while True: 
    if i%3 == 0: 
        break
    print(i) 
    i += 1

1
2

### Q51

In [51]:
x = 123
for i in x: 
    print(i)

TypeError: 'int' object is not iterable

### Q52

In [52]:
for i in [1, 2, 3, 4][::-1]: 
    print (i)

4
3
2
1

### Q53

In [53]:
numberGames = {} 
numberGames[(1,2,4)] = 8
numberGames

{(1, 2, 4): 8}

In [57]:
numberGames[(4,2,1)] = 10
numberGames[(1,2)] = 12
   
sum = 0
for k in numberGames: 
    sum += numberGames[k] 

    
print(len(numberGames) + sum)

33

### Q54

In [59]:
my_tuple = (1, 2, 3, 4) 
my_tuple.append( (5, 6, 7) ) 
print (len(my_tuple) )

AttributeError: 'tuple' object has no attribute 'append'

### Q55

In [60]:
t = (1, 2) 
print (2 * t )

(1, 2, 1, 2)

### Q56

In [70]:
d1 = {"john":40, "peter":45} 
d2 = {"john":466, "peter":45} 
print( d1 < d2 )

TypeError: '<' not supported between instances of 'dict' and 'dict'

### Q57

In [65]:
my_tuple = (6, 9, 0, 0) 
my_tuple1 = (5, 2, 3, 4) 
print (my_tuple > my_tuple1)

True

### Q58

In [71]:
L = list('123456') 
L[0] = L[5] = 0
L[3] = L[-2] 
print(L)

[0, '2', '3', '5', '5', 0]

### Q59

In [73]:
T = tuple('geeks') 
a, b, c, d, e = T 
b = c = '*'
T = (a, b, c, d, e) 
print(T)

('g', '*', '*', 'k', 's')

### Q60

In [75]:
L = [2e-04, 'a', False, 87] 
T = (6.22, 'boy', True, 554) 
for i in range(len(L)): 
    if L[i]: 
        L[i] = L[i] + T[i]
        print(L)
    else: 
        T[i] = L[i] + T[i] 
        break

[6.2202, 'a', False, 87]
[6.2202, 'aboy', False, 87]

TypeError: 'tuple' object does not support item assignment

### Q61

In [76]:
T = (2e-04, True, False, 8, 1.001, True) 
val = 0
for x in T: 
    val += int(x) 
print(val)

11

### Q62

In [78]:
int(True)

1

In [79]:
int(False)

0

### Q63

In [84]:
str1 = '{2}, {1} and {0}'.format('a', 'b', 'c') 
str1

'c, b and a'

In [81]:
str2 = '{0}{1}{0}'.format('abra', 'cad') 
str2

'abracadabra'

In [82]:
print(str1, str2)

c, b and a abracadabra

### Q64

In [85]:
a = 2
b = '3.77'
c = -8
str1 = '{0:.4f} {0:3d} {2} {1}'.format(a, b, c) 
print(str1)

2.0000   2 -8 3.77

### Q65

In [89]:
import string 
Line1 = "And Then There Were None"
Line2 = "Famous In Love"
Line3 = "Famous Were The Kol And Klaus"
Line4 = Line1 + Line2 + Line3 
print(string.find(Line1, 'Were'), string.count((Line4), 'And'))

AttributeError: module 'string' has no attribute 'find'

### Q66

In [90]:
line = "I'll come by then."
eline = "" 
for i in line: 
    eline += chr(ord(i)+3) 
print(eline)

L*oo#frph#e|#wkhq1

### Q67

In [92]:
line =  "What will have so will"
L = line.split('a') 
L

['Wh', 't will h', 've so will']

In [93]:
for i in L: 
    print(i, end=' ')

Wh t will h ve so will

### Q68

In [96]:
tuple = {} 
tuple[(1,2,4)] = 8

In [97]:
tuple

{(1, 2, 4): 8}

In [98]:
tuple = {} 
tuple[(1,2,4)] = 8
tuple[(4,2,1)] = 10
tuple[(1,2)] = 12
_sum = 0
for k in tuple: 
    _sum += tuple[k] 
print(len(tuple) + _sum)

33

### Q69

In [99]:
tuple1 = (1, 2, 4, 3) 
tuple2 = (1, 2, 3, 4) 
print(tuple1 < tuple2)

False

### Q70

In [103]:
print(bool('False')) 
print(bool())

True
False

In [104]:
print(bool(1))

True

### Q71

In [105]:
print(not(4>3)) 
print(not(5&5))

False
False

### Q72

In [106]:
bool('gfg')

True

In [107]:
print(['love', 'python'][bool('gfg')])

python

### Q73

In [108]:
if (7 < 0) and (0 < -7): 
    print("abhi") 
elif (7 > 0) or False: 
    print("love") 
else: 
    print("geeksforgeeks")

love

### Q74

In [109]:
i = 1
while True: 
    if i % 0O7 == 0: 
        break
    print(i) 
    i += 1

1
2
3
4
5
6

In [112]:
34 % 007

SyntaxError: invalid token (<ipython-input-112-f55a3eadc0e3>, line 1)

In [113]:
34 % 0O7

6

### Q75

In [114]:
True = False
while True: 
    print(True) 
    break

SyntaxError: can't assign to keyword (<ipython-input-114-9b3565c26392>, line 1)

### Q76

In [115]:
i = 1
while True: 
    if i % 3 == 0: 
        break
    print(i) 
    i + = 1

SyntaxError: invalid syntax (<ipython-input-115-c4df679925ba>, line 6)

### Q77

In [116]:
my_string = "geeksforgeeks"
i = "i"
while i in my_string: 
    print(i, end =" ")  # Output is None

### Q78

In [117]:
i = 0
while i < 3: 
    print(i) 
    i += 1
else: 
    print(0)

0
1
2
0

### Q79

In [119]:
my_string = 'geeksforgeeks'
for i in range(len(my_string)): 
    my_string[i].upper() 
print (my_string)

geeksforgeeks

### Q80

In [120]:
my_string = 'geeksforgeeks'
for i in range(len(my_string)): 
    print (my_string) 
    my_string = 'a'

geeksforgeeks
a
a
a
a
a
a
a
a
a
a
a
a

### Q81

In [121]:
sets = {1, 2, 3, 4, 4} 
print(sets)

{1, 2, 3, 4}

### Q82

In [122]:
sets = {3, 4, 5} 
sets.update([1, 2, 3]) 
print(sets)

{1, 2, 3, 4, 5}

### Q83

In [123]:
set1 = {1, 2, 3} 
set2 = set1.copy() 
set2.add(4) 
print(set1)

{1, 2, 3}

### Q84

In [124]:
set1 = {1, 2, 3} 
set2 = set1.add(4) 
print(set2)

None

### Q85

In [131]:
set1 = {1, 2, 3} 
set2 = {4, 5, 6} 
print(len(set1 + set2))

TypeError: unsupported operand type(s) for +: 'set' and 'set'