### Q1

In [1]:
r = lambda q: q * 2
s = lambda q: q * 3
x = 2
x = r(x)  #4
x = s(x) #12
x = r(x) #24
print(x)

24

### Q2

In [3]:
a = 4.5
b = 2
print( a//b )

2.0

### Q3

In [6]:
a = True
b = False
c = False
  
if a or b and c: 
    print ("GEEKSFORGEEKS")
else: 
    print ("geeksforgeeks")

GEEKSFORGEEKS

### Q4

In [8]:
class Acc: 
    def __init__(self, id): 
        self.id = id
        id = 555 
  

acc = Acc(111) 
print (acc.id)

111

### Q5

In [9]:
for i in  range(2): 
    print (i )
  
for i in range(4,6): 
    print (i )

0
1
4
5

### Q6

In [10]:
values = [1, 2, 3, 4] 
numbers = set(values) 
  
def checknums(num): 
    if num in numbers: 
        return True
    else: 
        return False
  
for i in  filter(checknums, values): 
    print (i )

1
2
3
4

In [11]:
filter(checknums, values)

### Q7

In [14]:
counter = {} 
  
def addToCounter(country): 
    if country in  counter: 
        counter[country] += 1
    else: 
        counter[country] = 1
  
addToCounter('China') 
addToCounter('Japan') 
addToCounter('china') 
addToCounter('China')  #Same key is passed twice
print( len(counter) )

3

### Q8

In [16]:
class Geeks: 
    def __init__(self, id): 
        self.id = id
  
manager = Geeks(100) 
  
manager.__dict__['life'] = 49
  
print (manager.life + len(manager.__dict__))

51

### Q9

In [19]:
dictionary = {} 
dictionary[1] = 1
dictionary['1'] = 2
dictionary[1] += 1
dictionary

{1: 2, '1': 2}

In [22]:
sum = 0
for k in dictionary: 
    sum += dictionary[k] 
    
print (sum)

4

### Q10

In [23]:
dictionary = {1:'1', 2:'2', 3:'3'} 
del dictionary[1] 
dictionary[1] = '10'
del dictionary[2] 
print (len(dictionary) )

2

### Q11

In [24]:
geekCodes = [1, 2, 3, 4] 
  
geekCodes.append([5,6,7,8]) 
  
print( len(geekCodes))

5

In [25]:
geekCodes

[1, 2, 3, 4, [5, 6, 7, 8]]

### Q12

In [29]:
def addToList(listcontainer): 
    listcontainer += [10] 
  
mylistContainer = [10, 20, 30, 40] 
addToList(mylistContainer) 
print (len(mylistContainer))

5

In [32]:
mylistContainer

[10, 20, 30, 40, 10]

### Q13

In [33]:
def gfgFunction(): 
    "Geeksforgeeks is cool website for boosting up technical skills"
    return 1
  
print (gfgFunction.__doc__[17:21] )

cool

### Q14

In [34]:
class A(object): 
    val = 1
  
class B(A): 
    pass
  
class C(A): 
    pass
  
print( A.val, B.val, C.val )
B.val = 2
print( A.val, B.val, C.val )
A.val = 3
print (A.val, B.val, C.val)

1 1 1
1 2 1
3 2 3

### Q15

In [41]:
check1 = ['Learn', 'Quiz', 'Practice', 'Contribute'] 
check2 = check1 
check3 = check1[:] 
  
check2[0] = 'Code'
print(check1)
print(check2)
print(check3,'\n')
check3[1] = 'Mcq'
print(check1)
print(check2)
print(check3)

['Code', 'Quiz', 'Practice', 'Contribute']
['Code', 'Quiz', 'Practice', 'Contribute']
['Learn', 'Quiz', 'Practice', 'Contribute']

['Code', 'Quiz', 'Practice', 'Contribute']
['Code', 'Quiz', 'Practice', 'Contribute']
['Learn', 'Mcq', 'Practice', 'Contribute']

In [39]:
count = 0
for c in (check1, check2, check3): 
    print(c)
    if c[0] == 'Code': 
        count += 1
    if c[1] == 'Mcq': 
        count += 10
  
print (count)

['Code', 'Quiz', 'Practice', 'Contribute']
['Code', 'Quiz', 'Practice', 'Contribute']
['Learn', 'Mcq', 'Practice', 'Contribute']
12

### Q16

In [45]:
def gfg(x,l=[]): 
    for i in range(x): 
        l.append(i*i) 
    print(l)  
  
gfg(2) 
gfg(3,[3,2,1]) 
gfg(3)

[0, 1]
[3, 2, 1, 0, 1, 4]
[0, 1, 0, 1, 4]

### Q17

In [46]:
list1 = [1998, 2002, 1997, 2000] 
list2 = [2014, 2016, 1996, 2009] 
  
print ("list1 + list 2 = : ", list1 + list2)   #statement 1 
  
print ("list1 * 2 = : ", list1 * 2)  #statement 2

list1 + list 2 = :  [1998, 2002, 1997, 2000, 2014, 2016, 1996, 2009]
list1 * 2 = :  [1998, 2002, 1997, 2000, 1998, 2002, 1997, 2000]

### Q18

In [47]:
list1 = range(100, 110) #statement 1 
print ("index of element 105 is : ", list1.index(105))  #statement 2

index of element 105 is :  5

### Q19

In [48]:
list1 = [1, 2, 3, 4, 5] 
list2 = list1 
  
list2[0] = 0; 
  
print ("list1= : ", list1) #statement 2

list1= :  [0, 2, 3, 4, 5]

### Q20

In [49]:
print ('C:\\inside C directory') # statement1 
  
print (r'C:\\inside C directory') # statement2

C:\inside C directory
C:\\inside C directory

### Q21

In [50]:
print ('\x25\x26')

%&

### Q22

In [51]:
list = ['python', 'learning', '@', 'Geeks', 'for', 'Geeks'] 
  
print (list[::]  )         
print (list[0:6:2] )       
print( list[ :6: ])        
print( list[ :6:2])       
print( list[ ::3] )       
print (list[ ::-2])

['python', 'learning', '@', 'Geeks', 'for', 'Geeks']
['python', '@', 'for']
['python', 'learning', '@', 'Geeks', 'for', 'Geeks']
['python', '@', 'for']
['python', 'Geeks']
['Geeks', 'Geeks', 'learning']

### Q23

In [52]:
d1 = [10, 20, 30, 40, 50] 
d2 = [1, 2, 3, 4, 5] 
print( d1 - d1 )

TypeError: unsupported operand type(s) for -: 'list' and 'list'

### Q24

In [53]:
list = ['a', 'b', 'c', 'd', 'e'] 
print (list[10:] )

[]

### Q25

In [54]:
list = ['a', 'b', 'c']*-3
print (list)

[]

In [55]:
mylist = ['a', 'b', 'c']*-3
print (mylist)

[]

### Q26

In [56]:
dictionary = {'GFG' : 'geeksforgeeks.org', 
              'google' : 'google.com', 
              'facebook' : 'facebook.com'
              } 
del dictionary['google']; 
for key, values in dictionary.items(): 
    print(key)

GFG
facebook

### Q27

In [57]:
dictionary1 = {'Google' : 1, 
               'Facebook' : 2, 
               'Microsoft' : 3
               } 
dictionary2 = {'GFG' : 1, 
               'Microsoft' : 2, 
               'Youtube' : 3
               } 
dictionary1.update(dictionary2); 
for key, values in dictionary1.items(): 
    print(key, values)

Google 1
Facebook 2
Microsoft 2
GFG 1
Youtube 3

### Q28

In [60]:
data = [2, 3, 9] 
temp = [[x for x in [data]] for x in range(3)] 
x

24

In [61]:
print (temp)

[[[2, 3, 9]], [[2, 3, 9]], [[2, 3, 9]]]

### Q29

In [63]:
temp = 'Geeks 22536 for 445 Geeks'
data = [x for x in (int(x) for x in temp if x.isdigit()) if x%2 == 0] 

print(data)

[2, 2, 6, 4, 4]

In [68]:
temp = 'Geeks 22536 for 445 Geeks'
data = []
for x in temp:
    if x.isdigit():
        print(int(x))
        if int(x)%2 == 0:
            data.append(int(x))
print(data)

2
2
5
3
6
4
4
5
[2, 2, 6, 4, 4]

### Q30

In [70]:
L1 = list 
L1.append([1, [2, 3], 4]) 
L1.extend([7, 8, 9]) 
print(L1[0][1][1] + L1[2])

[[1, [2, 3], 4]]

### Q31

In [75]:
L1 = [1, 1.33, 'GFG', 0, 'NO', None, 'G', True] 
val1, val2 = 0, '' 
for x in L1: 
    if(type(x) == int or type(x) == float): 
        val1 += x 
    elif(type(x) == str): 
        val2 += x 
    else: 
        break
print(val1, val2)

1

In [76]:
L1 = [1, 1.33, 'GFG', 0, 'NO', 'G', True, None,] 
val1, val2 = 0, '' 
for x in L1: 
    if(type(x) == int or type(x) == float): 
        val1 += x 
    elif(type(x) == str): 
        val2 += x 
    else: 
        break
print(val1, val2)

2.33 GFGNOG

### Q32

In [2]:
T1 = (1) 
T2 = (3, 4) 
T1 += 5
print(T1) 
print(T1 + T2)

6

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

### Q33

In [3]:
List = [True, 50, 10] 
List.insert(2, 5)
List

[True, 50, 5, 10]

In [4]:
print(List, "Sum is: ", sum(List))

[True, 50, 5, 10] Sum is:  66

### Q34

In [5]:
T = (1, 2, 3, 4, 5, 6, 7, 8) 
print(T[T.index(5)], end = " ") 
print(T[T[T[6]-3]-6])

5 8

### Q35

In [10]:
L = [1, 3, 5, 7, 9] 
print(L.pop(-3), end = '  ') 
print(L.remove(L[0]), end = '  ') 
print(L)

5  None  [3, 7, 9]

### Q36

In [11]:
def REVERSE(L): 
    L.reverse() 
    return(L) 
def YKNJS(L): 
    List = list() 
    List.extend(REVERSE(L)) 
    print(List) 
  
L = [1, 3.1, 5.31, 7.531] 
YKNJS(L)

[7.531, 5.31, 3.1, 1]

### Q37

In [15]:
from math import sqrt 
L1 = [x**2 for x in range(10)].pop() 
L1 += 19
L1

100

In [18]:
print(sqrt(L1), end = " ") 
L1 = [x**2 for x in reversed(range(10))].pop() 
L1 += 16
print(int(sqrt(L1)))

10.0 4